<div class="push-bottom">
    @if (validationResult(); as validationResult) { @if (validationResult.state === 'invalid') {
    <div class="error-box">JSON is invalid: {{ validationResult.errorMessage }}</div>
    } @else if (validationResult.state === 'valid') {
    <div class="info-box">JSON is valid</div>

    } @else if (validationResult.state === 'empty') {
    <div class="info-box">JSON element is empty</div>
    } }
</div>

<div class="g-code">
    <div class="g-shiki-wrapper g-shiki-line-numbers">
        <div class="language-json" [innerHTML]="highlightedJson() | safeHtml"></div>
    </div>
</div>
